label, li, p {
    font-size: 20px;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0 1em;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 0px;
}

.body-app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.reading-width {
    max-width: 95%;
    width: 700px;
}

.default-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.lateral {
    display: inline-block;
}

.right-space {
    margin-right: 0.5em;
}

#about {
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 0px;
}

#frequency-digits {
    background-color: yellow;
    font-size: 28px;
}

#frequency-input {
    margin: 0 0 0 0;
    max-width: 100%;
    width: 600px;
}

#map {
    flex: 1;
}

#non-map {
    flex: 0 0 auto;
    margin: 0 1em;
}

#slider-div {
    margin-bottom: 0px;
    margin-top: 10px;
}

#time-of-day-div {
    margin-bottom: 0px;
    margin-top: 0px;
}

#time-of-day-p {
    margin-bottom: 10px;
    margin-top: 5px;
}

#vehicle-type-div {
    margin-bottom: 0px;
    margin-top: 0px;
}

#vehicle-type-p {
    margin-bottom: 3px;
    margin-top: 3px;
}