li, p {
    font-size: 18px;
}

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 0px;
}

.reading-width {
    max-width: 95%;
    width: 700px;
}

.default-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.lateral {
    display: inline-block;
}

.leaflet-map {
    height: 450px;
    max-width: 100%;
    width: 900px;
}

.right-space {
    margin-right: 0.5em;
}

#about {
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 0px;
}

#frequency-digits {
    background-color: yellow;
    font-size: 28px;
}

#frequency-input {
    margin: 0 0 0 0;
    max-width: 100%;
    width: 600px;
}

#slider-div {
    margin-bottom: 0px;
    margin-top: 10px;
}

#vehicle-type-div {
    margin-bottom: 0px;
    margin-top: 0px;
}

#vehicle-type-p {
    margin-bottom: 10px;
    margin-top: 3px;
}